.cards-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto 0px;
  max-width: 1060px;
}

.logo {
  display: inline-block;
  color: $black;
  margin: 20px 0 0;

  h1 {
    font-size: 2em;
  }
}

nav,
footer {
  text-align: center;
}

footer {
  margin-bottom: 40px;
  color: $white;

  a {
    text-decoration: underline;
  }

  @media ($mobile) {
    margin-bottom: 30px;
  }
}

@media ($mobile) {
  .logo {
    margin: 0;

    h1 {
      font-size: 1.5em;
      margin: 0 0 15px;
    }
  }

  .cards-grid {
    margin: 0;
    padding: 0;
  }
}
