.blog-card {
  background: $white;
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  border: 18px solid $white;
  margin-bottom: 30px;
  box-shadow: $subtle-shadow;

  transition: all 350ms;

  img {
    width: 200px;
    height: 200px;
  }

  &:first-of-type {
    width: 1156px;
    height: 400px;
    margin-left: -48px;
    margin-right: -48px;
    margin-bottom: 40px;
    height: 100%;
    padding: 40px;

    .blog-card-info {
      padding: 0 40px;
    }

    h1 {
      margin: 0;
      font-size: 60px;
    }

    img {
      height: 400px;
      width: 400px;
    }

    .blog-card-tldr {
      font-size: 24px;
      line-height: 2.2rem;
    }

    .blog-card-read-more {
      font-size: 36px;
    }
  }
}

.blog-card:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: $hovered-shadow;

  .blog-card-read-more {
    color: $black;
  }
}

.blog-card-pretitle {
  font-size: 12px;
  color: $greywhite;
  margin: 0 0 10px;
}

.blog-card-title {
  margin-top: 0px;
}

.blog-card-info {
  width: 100%;
  position: relative;
  background: $white;
  padding: 0 15px;
}

.blog-card-read-more {
  position: absolute;
  bottom: 0;
  right: 0;
  color: $greywhite;
  transition: color 350ms;
}

.blog-card-tldr {
  font-size: 14px;
  line-height: 1.2rem;
}
