.fixed {
  -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
  opacity: 1;
}

.hide {
  opacity: 0;
}

.top-left {
  position: fixed;
  left: 40px;
  top: 40px;
}

.prev-button,
.next-button {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 1.5em;
  margin: auto;
  color: $black;
  transition: opacity 400ms, border 100ms;
  border-top: 0px solid $black;
}

.prev-button:hover,
.next-button:hover {
  border-top: 3px solid $black;
}

.prev-button a,
.next-button a {
  text-align: center;
  line-height: 1.5em;
}

.prev-button {
  left: 20px;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
  transform: rotate(-90deg) translate(-50%, 50%);
}

.next-button {
  right: 20px;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: rotate(90deg) translate(50%, 50%);
  transform: rotate(90deg) translate(50%, 50%);
}

.finish-flag {
  font-size: 30px;
}

.top-right {
  position: fixed;
  right: 40px;
  top: 40px;
}

.bottom-right {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 1;
}

.blog-date,
.blog-location {
  transition: color 350ms;
  letter-spacing: 0.02em;
  font-size: 14px;
  color: $greywhite;
  text-align: center;
}

.blog-location:hover {
  color: $external-link;
}

.blog-date i,
.blog-location i {
  font-size: 11px;
  margin-right: 5px;
}

.blog-date {
  margin-bottom: 5px;
  color: $greywhite;
}

.blog-title {
  margin: 20px 0 50px;
  font-size: 70px;
  text-align: center;
}

.blog-tldr {
  margin-bottom: 20px;
  font-weight: normal;
}

.blog-card-thumbnail {
  -o-object-fit: cover;
  object-fit: cover;
  height: 300px;
  border-radius: 2px 2px 0 0;
}

.blog-rich-text {
  a {
    color: $external-link;
    text-decoration: underline;
  }
}
