.blog-card {
  background: white;
  width: 300px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 0 5px 20px;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 400ms, -webkit-box-shadow 400ms;
  transition: -webkit-transform 400ms, -webkit-box-shadow 400ms;
  transition: transform 400ms, box-shadow 400ms;
  transition: transform 400ms, box-shadow 400ms, -webkit-transform 400ms,
    -webkit-box-shadow 400ms;
  overflow: hidden;
}

.blog-card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.blog-card:hover .blog-card-info {
  -webkit-transform: translateY(-60px);
  transform: translateY(-60px);
}

.blog-card:hover .blog-card-tldr {
  opacity: 1;
}

.blog-card-image {
  -o-object-fit: cover;
  object-fit: cover;
  height: 300px;
  border-radius: 2px 2px 0 0;
}

.blog-card-date {
  font-size: 12px;
  color: #d4d4d4;
  padding: 0;
  margin: 0;
}

.blog-card-title {
  margin-top: 0px;
}

.blog-card-info {
  background: white;
  padding: 17px 30px;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.blog-card-tldr {
  opacity: 0;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  font-size: 14px;
  line-height: 1.2rem;
  padding: 0;
}
