.cards-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 50px auto 100px;
  max-width: 1240px;
}

.logo {
  color: white;
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
}
