@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600,700");

h1 {
  font-family: $heading-font;
  font-size: 20px;
  font-weight: 700;
}

h2 {
  margin: 0;
  font-size: 48px;
}

h4 {
  color: $accent-secondary;
  font-size: 48px;
  text-align: center;
}

p {
  letter-spacing: 0.015em;
  line-height: 1.7em;
  font-size: 24px;
  font-weight: 300;
}

a {
  color: currentColor;
  text-decoration: none;
}

blockquote {
  position: relative;

  p {
    position: relative;
    z-index: 1;
    font-size: 26px;
    color: $black;
    font-style: italic;
  }

  &:before {
    position: absolute;
    font-family: $heading-font;
    color: $accent-primary;
    left: -40px;
    top: -40px;
    z-index: 9;
    content: "”";
    content: "“";
    font-size: 240px;
    line-height: 1;
  }
}

.author {
  font-size: 22px;
  color: $accent-primary;
  position: absolute;
  bottom: 35px;
  right: 30px;

  &:after {
    content: "";
    position: absolute;
    left: -25px;
    top: 13px;
    height: 3px;
    width: 20px;
    background: $accent-primary;
  }
}
