/* Colours */
$accent-primary: #7ccf9a;
$accent-secondary: #8a13ff;
$black: #303030;
$white: #fcfcfc;
$greywhite: #c9c9c9;
$external-link: #3576ff;

/* Fonts */
$default-font: "Lora", serif;
$heading-font: "Oswald", sans-serif;

/* Margins & paddings */
$content-width: 840px;
