@import url("https://fonts.googleapis.com/css?family=Lato:300,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600,700");

$accent-primary: #7ccf9a;
$accent-secondary: #8a13ff;
$black: #303030;
$white: #fcfcfc;

body {
  transition: background 1000ms;
  font-family: "Lora", serif;
  color: $black;
  // background: $accent-secondary;
  // background: $accent-primary;
  // background: $black;
  background: $white;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

h2 {
  margin: 0;
  font-size: 48px;
}

h4 {
  color: $accent-secondary;
  font-size: 48px;
}

p {
  letter-spacing: 0.015em;
  line-height: 1.7em;
  font-size: 24px;
  font-weight: 300;
}

a {
  color: currentColor;
  text-decoration: none;
}

blockquote {
  position: relative;

  p {
    position: relative;
    z-index: 1;
    font-size: 26px;
    color: $black;
    font-style: italic;
  }

  &:before {
    position: absolute;
    font-family: "Oswald";
    color: $accent-primary;
    left: -40px;
    top: -40px;
    z-index: 9;
    content: "”";
    content: "“";
    font-size: 240px;
    line-height: 1;
  }
}

.author {
  font-size: 22px;
  color: $accent-primary;
  position: absolute;
  bottom: 35px;
  right: 30px;

  &:after {
    content: "";
    position: absolute;
    left: -25px;
    top: 13px;
    height: 3px;
    width: 20px;
    background: $accent-primary;
  }
}

/* Blog Spacing */
.blog-post {
  p,
  h2,
  h3,
  h4 {
    margin: 0 35px 20px;
  }
  ul,
  ol {
    font-size: 24px;
    margin: 0 40px 20px;
  }
  li {
    margin-bottom: 10px;
  }
  .slider,
  .image,
  iframe {
    margin: 40px 0 !important;
  }
  .video iframe {
    width: 840px;
    height: 473px;
  }
  .quote {
    position: relative;
    padding: 50px 0;
  }
  .blog-rich-text {
    p:last-child {
      margin-bottom: 0;
    }
  }
  .image {
    text-align: center;
  }
}
