@import url("./styles/typography.css");
@import url("./styles/variables.css");
@import url("./styles/custom-slick.css");
/* General */
.cards-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px auto 100px;
  max-width: 1240px;
}

.logo {
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
}

/* Card */
.blog-card {
  background: white;
  width: 300px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 0 5px 20px;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 400ms, -webkit-box-shadow 400ms;
  transition: -webkit-transform 400ms, -webkit-box-shadow 400ms;
  transition: transform 400ms, box-shadow 400ms;
  transition: transform 400ms, box-shadow 400ms, -webkit-transform 400ms, -webkit-box-shadow 400ms;
  overflow: hidden;
}

.blog-card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.blog-card:hover .blog-card-info {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.blog-card:hover .blog-card-tldr {
  opacity: 1;
}

.blog-card-image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  border-radius: 2px 2px 0 0;
}

.blog-card-date {
  font-size: 12px;
  color: #d4d4d4;
  padding: 0;
  margin: 0;
}

.blog-card-title {
  margin-top: 0px;
}

.blog-card-info {
  background: white;
  padding: 17px 30px;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.blog-card-tldr {
  opacity: 0;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  font-size: 14px;
  line-height: 1.2rem;
  padding: 0;
}

/* Blog page */
.blog-post {
  max-width: 840px;
  border-radius: 5px;
  position: relative;
  margin: 40px auto 100px;
  padding: 100px 60px;
  background: white;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
}

.fixed {
  -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
  opacity: 1;
}

.hide {
  opacity: 0;
}

.top-left {
  position: fixed;
  left: 40px;
  top: 40px;
}

.prev-button,
.next-button {
  position: fixed;
  text-align: center;
  color: #c9c9c9;
  top: 45%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
}

.prev-button:hover,
.next-button:hover {
  color: white;
  color: black;
}

.next-button {
  right: -50px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.prev-button {
  left: -50px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.finish-flag {
  font-size: 30px;
}

.top-right {
  position: fixed;
  right: 40px;
  top: 40px;
}

.bottom-right {
  position: fixed;
  right: 40px;
  bottom: 40px;
}

.blog-date,
.blog-location {
  letter-spacing: 0.02em;
  font-size: 14px;
  color: #3576ff;
  text-align: center;
}

.blog-date i,
.blog-location i {
  font-size: 11px;
  margin-right: 5px;
}

.blog-date {
  margin-bottom: 5px;
  color: #c9c9c9;
}

.blog-title {
  margin: 20px 0 50px;
  font-size: 70px;
  text-align: center;
}

.blog-tldr {
  margin-bottom: 20px;
  font-weight: normal;
}

.blog-card-thumbnail {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  border-radius: 2px 2px 0 0;
}
/*# sourceMappingURL=style.css.map */