@charset "UTF-8";
/* Media Queries */
/* Colours */
/* Fonts */
/* Sizes */
/* Margins & paddings */
/* Drop shadow */
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600,700");
body {
  min-height: 100vh;
  -webkit-transition: background 1000ms;
  transition: background 1000ms;
  font-family: "Lora", serif;
  color: #303030;
  font-size: 16px;
  background-image: linear-gradient(150deg, #a2b9d7 0%, #dcdeeb 100%) !important;
}

.mood {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Contant container */
.content {
  max-width: 1060px;
  border-radius: 2px;
  margin: 50px auto;
  padding: 0 48px 100px;
  background: #fcfcfc;
  -webkit-box-shadow: 0 14px 100px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 14px 100px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.12);
}

@media (max-width: 767px) {
  .content {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 0 30px;
    padding: 0 18px 30px;
  }
}

/* Spacing */
.content p,
.content h2,
.content h3,
.content h4 {
  margin: 0 35px 20px;
}

@media (max-width: 767px) {
  .content p,
  .content h2,
  .content h3,
  .content h4 {
    margin: 0 5px 10px;
  }
}

.content ul,
.content ol {
  margin: 0 40px 20px;
}

@media (max-width: 767px) {
  .content ul,
  .content ol {
    margin: 0 0 12px;
  }
}

.content li {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .content li {
    margin-bottom: 4px;
  }
}

.content .slider,
.content .image,
.content iframe {
  margin: 40px 0 !important;
}

@media (max-width: 767px) {
  .content .slider,
  .content .image,
  .content iframe {
    margin: 10px 0 !important;
  }
}

.content .video {
  text-align: center;
}

.content .video iframe {
  width: 840px;
  height: 473px;
}

@media (max-width: 767px) {
  .content .video iframe {
    width: 308px;
    height: 173px;
  }
}

.content .code iframe {
  max-height: 350px;
}

.content .quote {
  position: relative;
  padding: 50px 0;
  margin: 0 80px;
}

@media (max-width: 767px) {
  .content .quote {
    padding: 20px 0;
    margin: 0;
  }
}

.content .blog-rich-text {
  margin: 0 80px;
}

.content .blog-rich-text p:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .content .blog-rich-text {
    margin: 0;
  }
}

.content .image {
  text-align: center;
}

hr {
  width: 280px;
  margin: 50px auto;
  border: 1px solid #c9c9c9;
  opacity: 0.2;
}

@media (max-width: 767px) {
  hr {
    width: 140px;
    margin: 0 auto 16px;
  }
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
}

h2 {
  margin: 0;
  font-size: 3em;
}

@media (max-width: 767px) {
  h2 {
    font-size: 1.6em;
  }
}

h4 {
  color: #8a13ff;
  font-size: 3em;
  text-align: center;
}

@media (max-width: 767px) {
  h4 {
    font-size: 1.6em;
  }
}

p {
  letter-spacing: 0.023rem;
  line-height: 2.5rem;
  font-size: 1.5em;
  font-weight: 300;
}

@media (max-width: 767px) {
  p {
    font-size: 0.875em;
    line-height: 1.4rem;
  }
}

ol,
ul {
  font-size: 1em;
}

@media (max-width: 767px) {
  ol,
  ul {
    font-size: 0.875em;
  }
}

a {
  color: currentColor;
  text-decoration: none;
}

blockquote {
  position: relative;
}

blockquote p {
  position: relative;
  z-index: 1;
  font-size: 1.6em;
  color: #303030;
  font-style: italic;
}

@media (max-width: 767px) {
  blockquote p {
    font-size: 1em;
  }
}

blockquote:before {
  position: absolute;
  font-family: "Oswald", sans-serif;
  color: #7ccf9a;
  left: -40px;
  top: -40px;
  z-index: 9;
  content: "”";
  content: "“";
  font-size: 15em;
  line-height: 1;
}

@media (max-width: 767px) {
  blockquote:before {
    font-size: 8em;
    left: -40px;
    top: -30px;
  }
}

.author {
  font-size: 1.4em;
  color: #7ccf9a;
  position: absolute;
  bottom: 35px;
  right: 30px;
}

.author:after {
  content: "";
  position: absolute;
  left: -25px;
  top: 13px;
  height: 3px;
  width: 20px;
  background: #7ccf9a;
}

@media (max-width: 767px) {
  .author {
    font-size: 0.875em;
    bottom: 18px;
    right: 10px;
  }
  .author:after {
    top: 9px;
    left: -12px;
    width: 10px;
    height: 1px;
  }
}

.cards-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto 0px;
  max-width: 1060px;
}

.logo {
  display: inline-block;
  color: #303030;
  margin: 20px 0 0;
}

.logo h1 {
  font-size: 2em;
}

nav,
footer {
  text-align: center;
}

footer {
  margin-bottom: 40px;
  color: #fcfcfc;
}

footer a {
  text-decoration: underline;
}

@media (max-width: 767px) {
  footer {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .logo {
    margin: 0;
  }
  .logo h1 {
    font-size: 1.5em;
    margin: 0 0 15px;
  }
  .cards-grid {
    margin: 0;
    padding: 0;
  }
}

.pages {
  padding-top: 60px;
}

.header {
  text-align: center;
}

.header-image {
  border-radius: 4px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 300px;
  width: 840px;
}

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid #fcfcfc;
}

.about-title {
  text-align: center;
  margin-top: -88px;
}

.about-title h2 {
  font-size: 60px;
}

.slick-slide img,
.image img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 500px;
  width: 840px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .slick-slide img,
  .image img {
    height: 250px;
    width: 100%;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-current {
  overflow: unset !important;
}

.custom-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin: 0 !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.custom-dots li {
  height: 3px;
  width: 3px;
  background: #b7b7b7;
  border-radius: 10%;
  margin: 15px;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.custom-dots li:hover {
  opacity: 1;
  background: #8a13ff !important;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.custom-dots button {
  padding: 10px;
  border: none;
  opacity: 0;
}

.custom-dots .slick-active {
  background: #b7b7b7;
  opacity: 0.8;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.custom-dots .slick-active:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  background: #8a13ff;
}

.slider:hover .arrow {
  opacity: 1;
  font-size: 40px;
  color: #7ccf9a;
}

.slider:hover .custom-dots li {
  background: #7ccf9a;
}

.slider:hover .custom-dots .slick-active {
  background: #8a13ff;
}

.arrow {
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  opacity: 0.4;
  color: #b7b7b7;
  font-size: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50px;
  z-index: 1;
}

.arrow:hover {
  color: #8a13ff !important;
}

@media (max-width: 767px) {
  .arrow {
    display: none !important;
  }
}

.next {
  left: unset;
  right: 50px;
}

.blog-card {
  background: #fcfcfc;
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 18px solid #fcfcfc;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.04), 0 10px 10px rgba(0, 0, 0, 0.04);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.04), 0 10px 10px rgba(0, 0, 0, 0.04);
  -webkit-transition: -webkit-box-shadow 500ms;
  transition: -webkit-box-shadow 500ms;
  transition: box-shadow 500ms;
  transition: box-shadow 500ms, -webkit-box-shadow 500ms;
}

.blog-card:first-of-type {
  width: 1156px;
  height: 400px;
  margin-left: -48px;
  margin-right: -48px;
  margin-bottom: 40px;
  height: 100%;
  padding: 40px;
}

.blog-card:first-of-type .blog-info {
  padding: 0 40px;
  margin-bottom: -22px;
}

.blog-card:first-of-type .blog-pretitle {
  margin: 0;
  font-size: 0.875em;
}

.blog-card:first-of-type .blog-intro {
  margin-left: 0;
  margin-right: 0;
  margin-top: 24px;
}

@media (min-width: 768px) {
  .blog-card:first-of-type .blog-intro {
    font-size: 1.5em;
    line-height: 2.1rem;
  }
}

.blog-card:first-of-type h1 {
  margin: 0;
  font-size: 3.75em;
}

.blog-card:first-of-type img {
  height: 400px;
  width: 400px;
}

.blog-card:first-of-type .blog-readmore {
  font-size: 2.25em;
  bottom: 22px;
}

.blog-feature-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 200px;
}

.blog-card:hover {
  -webkit-box-shadow: 0 14px 100px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 14px 100px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.12);
}

.blog-card:hover .blog-readmore {
  opacity: 1;
  color: #303030;
}

.blog-pretitle {
  font-size: 0.875em;
  color: #c9c9c9;
  margin: 0 0 10px;
}

.blog-pretitle span:first-of-type {
  display: block;
  margin-bottom: 4px;
}

.blog-title {
  font-size: 1.25em;
  margin: 0px;
  padding: 0;
}

.blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  position: relative;
  background: #fcfcfc;
  padding: 0 0 0 15px;
  margin-bottom: -12px;
}

.blog-readmore {
  position: absolute;
  bottom: 12px;
  right: 0;
  color: #fcfcfc;
  opacity: 0;
  -webkit-transition: color 500ms, opacity 500ms;
  transition: color 500ms, opacity 500ms;
}

.blog-intro {
  font-size: 0.875em;
  line-height: 1.4rem;
}

@media (max-width: 767px) {
  .blog-card {
    margin: 0 0 15px;
  }
  .blog-card p {
    margin: 0;
  }
  .blog-card:first-of-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 15px;
    padding: 0;
  }
  .blog-card:first-of-type .blog-title {
    margin: 10px 0;
    font-size: 1.6em;
    line-height: 2rem;
    text-align: center;
    padding: 0 15px;
  }
  .blog-card:first-of-type .blog-pretitle {
    margin-top: 20px;
    text-align: center;
    font-size: 0.625em;
  }
  .blog-card:first-of-type .blog-feature-image {
    height: 100%;
    width: 100%;
    min-height: 220px;
  }
  .blog-card:first-of-type .blog-intro {
    margin: 0;
    padding-bottom: 10px;
    padding: 0 5px 8px;
    font-size: 0.875em;
    line-height: 1.4rem;
  }
  .blog-card:first-of-type .blog-info {
    padding: 0;
    margin: 0;
  }
  .blog-info {
    margin-bottom: 0;
  }
  .blog-pretitle {
    font-size: 0.5em;
    margin-bottom: 5px;
  }
  .blog-pretitle span:first-of-type {
    margin-bottom: 2px;
  }
  .blog-intro {
    padding: 0;
    font-size: 0.6em;
    line-height: 0.875rem;
  }
  .blog-title {
    font-size: 0.9em;
    margin: 0 0 5px;
    line-height: 1.3rem;
  }
  .blog-feature-image {
    width: 130px;
    height: 130px;
  }
  .blog-readmore {
    display: none;
  }
  :hover .blog-readmore {
    display: none;
  }
}

.blog-page:first-of-type {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blog-page:first-of-type .blog-info {
  padding-right: 48px;
}

.blog-page:first-of-type .blog-intro {
  margin-bottom: 24px;
}

.blog-card.blog-page {
  border-width: 10px;
  padding-top: 48px;
}

@media (max-width: 767px) {
  .blog-card.blog-page {
    border-width: 0;
    border-top-width: 18px;
  }
}

.blog-location {
  color: #c9c9c9;
  -webkit-transition: color 350ms;
  transition: color 350ms;
}

.blog-location:hover {
  color: #3576ff;
}

.fixed {
  -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
  opacity: 1;
}

.hide {
  opacity: 0;
}

.top-left {
  position: fixed;
  left: 40px;
  top: 40px;
}

.prev-button,
.next-button {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 1.5em;
  margin: auto;
  color: #303030;
  -webkit-transition: opacity 400ms, border 100ms;
  transition: opacity 400ms, border 100ms;
  border-top: 0px solid #303030;
}

.prev-button:hover,
.next-button:hover {
  border-top: 3px solid #303030;
}

.prev-button a,
.next-button a {
  text-align: center;
  line-height: 1.5rem;
}

.prev-button {
  left: 20px;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
  transform: rotate(-90deg) translate(-50%, 50%);
}

.next-button {
  right: 20px;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: rotate(90deg) translate(50%, 50%);
  transform: rotate(90deg) translate(50%, 50%);
}

.finish-flag {
  font-size: 2em;
}

.top-right {
  position: fixed;
  right: 40px;
  top: 40px;
}

.bottom-right {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 1;
}

.blog-date {
  margin-bottom: 5px;
  color: #c9c9c9;
}

.blog-rich-text a {
  color: #3576ff;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .blog-card.blog-page {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 0;
  }
  .blog-card.blog-page .blog-location {
    color: #3576ff;
  }
  .blog-page:first-of-type .blog-info {
    padding-right: 0;
  }
  .blog-page:first-of-type .blog-intro {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .prev-button,
  .next-button {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */