@charset "UTF-8";
/* Colours */
/* Fonts */
/* Margins & paddings */
/* Drop shadow */
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600,700");
body {
  min-height: 100vh;
  -webkit-transition: background 1000ms;
  transition: background 1000ms;
  font-family: "Lora", serif;
  color: #303030;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%) !important;
}

.mood {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Contant container */
.content {
  max-width: 840px;
  border-radius: 5px;
  position: relative;
  margin: 40px auto;
  padding: 100px 60px;
  background: #fcfcfc;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
}

/* Spacing */
.content p,
.content h2,
.content h3,
.content h4 {
  margin: 0 35px 20px;
}

.content ul,
.content ol {
  font-size: 24px;
  margin: 0 40px 20px;
}

.content li {
  margin-bottom: 10px;
}

.content .slider,
.content .image,
.content iframe {
  margin: 40px 0 !important;
}

.content .video iframe {
  width: 840px;
  height: 473px;
}

.content .quote {
  position: relative;
  padding: 50px 0;
}

.content .blog-rich-text p:last-child {
  margin-bottom: 0;
}

.content .image {
  text-align: center;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

h2 {
  margin: 0;
  font-size: 48px;
}

h4 {
  color: #8a13ff;
  font-size: 48px;
  text-align: center;
}

p {
  letter-spacing: 0.015em;
  line-height: 1.7em;
  font-size: 24px;
  font-weight: 300;
}

a {
  color: currentColor;
  text-decoration: none;
}

blockquote {
  position: relative;
}

blockquote p {
  position: relative;
  z-index: 1;
  font-size: 26px;
  color: #303030;
  font-style: italic;
}

blockquote:before {
  position: absolute;
  font-family: "Oswald", sans-serif;
  color: #7ccf9a;
  left: -40px;
  top: -40px;
  z-index: 9;
  content: "”";
  content: "“";
  font-size: 240px;
  line-height: 1;
}

.author {
  font-size: 22px;
  color: #7ccf9a;
  position: absolute;
  bottom: 35px;
  right: 30px;
}

.author:after {
  content: "";
  position: absolute;
  left: -25px;
  top: 13px;
  height: 3px;
  width: 20px;
  background: #7ccf9a;
}

.cards-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto 0px;
  max-width: 1060px;
}

.logo {
  color: #303030;
  margin: 40px 0 0;
  font-size: 30px;
}

nav,
footer {
  text-align: center;
}

footer {
  margin-bottom: 40px;
  color: #c9c9c9;
}

footer a {
  position: relative;
}

footer a:hover {
  color: #fcfcfc;
}

footer a:hover:after {
  background: #fcfcfc;
}

footer a:after {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  content: "";
  position: absolute;
  left: 0;
  top: 18px;
  width: 100%;
  height: 1px;
  background: #c9c9c9;
}

.pages {
  padding-top: 60px;
}

.header {
  text-align: center;
}

.header-image {
  border-radius: 4px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 300px;
  width: 840px;
}

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid #fcfcfc;
}

.about-title {
  text-align: center;
  margin-top: -88px;
}

.about-title h2 {
  font-size: 60px;
}

.slick-slide img,
.image img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 500px;
  width: 840px;
  margin: 0 auto;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-current {
  overflow: unset !important;
}

.custom-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin: 0 !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.custom-dots li {
  height: 3px;
  width: 3px;
  background: #b7b7b7;
  border-radius: 10%;
  margin: 15px;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.custom-dots li:hover {
  opacity: 1;
  background: #8a13ff !important;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.custom-dots button {
  padding: 10px;
  border: none;
  opacity: 0;
}

.custom-dots .slick-active {
  background: #b7b7b7;
  opacity: 0.8;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.custom-dots .slick-active:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  background: #8a13ff;
}

.slider:hover .arrow {
  opacity: 1;
  font-size: 40px;
  color: #7ccf9a;
}

.slider:hover .custom-dots li {
  background: #7ccf9a;
}

.slider:hover .custom-dots .slick-active {
  background: #8a13ff;
}

.arrow {
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  opacity: 0.4;
  color: #b7b7b7;
  font-size: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50px;
  z-index: 1;
}

.arrow:hover {
  color: #8a13ff !important;
}

.next {
  left: unset;
  right: 50px;
}

.blog-card {
  background: #fcfcfc;
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 18px solid #fcfcfc;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.04), 0 10px 10px rgba(0, 0, 0, 0.04);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.04), 0 10px 10px rgba(0, 0, 0, 0.04);
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

.blog-card img {
  width: 200px;
  height: 200px;
}

.blog-card:first-of-type {
  width: 1156px;
  height: 400px;
  margin-left: -48px;
  margin-right: -48px;
  margin-bottom: 40px;
  height: 100%;
  padding: 40px;
}

.blog-card:first-of-type .blog-card-info {
  padding: 0 40px;
}

.blog-card:first-of-type h1 {
  margin: 0;
  font-size: 60px;
}

.blog-card:first-of-type img {
  height: 400px;
  width: 400px;
}

.blog-card:first-of-type .blog-card-tldr {
  font-size: 24px;
  line-height: 2.2rem;
}

.blog-card:first-of-type .blog-card-read-more {
  font-size: 36px;
}

.blog-card:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.06), 0 10px 10px rgba(0, 0, 0, 0.06);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.06), 0 10px 10px rgba(0, 0, 0, 0.06);
}

.blog-card:hover .blog-card-read-more {
  color: #303030;
}

.blog-card-pretitle {
  font-size: 12px;
  color: #c9c9c9;
  margin: 0 0 10px;
}

.blog-card-title {
  margin-top: 0px;
}

.blog-card-info {
  width: 100%;
  position: relative;
  background: #fcfcfc;
  padding: 0 15px;
}

.blog-card-read-more {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #c9c9c9;
  -webkit-transition: color 350ms;
  transition: color 350ms;
}

.blog-card-tldr {
  font-size: 14px;
  line-height: 1.2rem;
}

.fixed {
  -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
  opacity: 1;
}

.hide {
  opacity: 0;
}

.top-left {
  position: fixed;
  left: 40px;
  top: 40px;
}

.prev-button,
.next-button {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 1.5em;
  margin: auto;
  color: #303030;
  -webkit-transition: opacity 400ms, border 100ms;
  transition: opacity 400ms, border 100ms;
  border-top: 0px solid #303030;
}

.prev-button:hover,
.next-button:hover {
  border-top: 3px solid #303030;
}

.prev-button a,
.next-button a {
  text-align: center;
  line-height: 1.5em;
}

.prev-button {
  left: 20px;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
  transform: rotate(-90deg) translate(-50%, 50%);
}

.next-button {
  right: 20px;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: rotate(90deg) translate(50%, 50%);
  transform: rotate(90deg) translate(50%, 50%);
}

.finish-flag {
  font-size: 30px;
}

.top-right {
  position: fixed;
  right: 40px;
  top: 40px;
}

.bottom-right {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 1;
}

.blog-date,
.blog-location {
  -webkit-transition: color 350ms;
  transition: color 350ms;
  letter-spacing: 0.02em;
  font-size: 14px;
  color: #c9c9c9;
  text-align: center;
}

.blog-location:hover {
  color: #3576ff;
}

.blog-date i,
.blog-location i {
  font-size: 11px;
  margin-right: 5px;
}

.blog-date {
  margin-bottom: 5px;
  color: #c9c9c9;
}

.blog-title {
  margin: 20px 0 50px;
  font-size: 70px;
  text-align: center;
}

.blog-tldr {
  margin-bottom: 20px;
  font-weight: normal;
}

.blog-card-thumbnail {
  -o-object-fit: cover;
  object-fit: cover;
  height: 300px;
  border-radius: 2px 2px 0 0;
}

.blog-rich-text a {
  color: #3576ff;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */